<footer class="footer">
    <div class="container text-center">
        {{!-- <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small> --}}
        {{!-- <small class="copyright">copyright 2015 yayuhh, llc</small> --}}
        <img width="75px" src="https://static.squarespace.com/static/53f43bbde4b077de03194d0f/t/540fcc6ce4b0d69444e8c5d5/1410321516963/pgh.svg">
    </div><!--//container-->
</footer><!--//footer-->
