<div class="container">
    <div class="contact-inner">
        <h2 class="title  text-center">HAVE A PROJECT IN MIND?</h2>
        <a>CONTACT US</a>
        <div class="clearfix"></div>
    </div><!--//contact-inner-->
</div><!--//container-->
